body {
  color: #2a2a2a;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}
.menu > li {
  color: var;
  background-color: white;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
