body {
  color: #2a2a2a;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}
.menu > li {
  color: var;
  background-color: white;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.service {
  background: #2e2f42;
}

.title {
  color: #fff;
  line-height: 1.07143;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}
